@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a,
button {
  border: 1px solid transparent;
}

a:focus,
button:focus {
  outline: none;
  border-color: rgba(52, 86, 139, 0.4);
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 4px rgba(52, 86, 139, 0.1);
  box-shadow: 0 0 0 4px rgba(52, 86, 139, 0.1);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  margin: 0 auto 20px auto;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* Estilos responsive */
}

header .container__nav {
  max-width: 1400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 5px 20px;
}

header .container__nav a.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  font-style: italic;
}

header .container__nav nav.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container__nav nav.menu ul li {
  list-style: none;
}

header .container__nav nav.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 6px;
}

header .container__nav nav.menu ul li a i {
  margin-right: 10px;
  color: #333;
}

header .container__nav nav.menu ul li a:hover {
  background-color: #efefef;
}

@media (max-width: 992px) {
  header {
    margin: 0 20px 20px 20px;
    border-radius: 0 0 8px 8px;
  }
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}

main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  /* Estilos responsive */
}

main aside.last__notices,
main aside.most__read {
  margin: 0 20px;
  max-height: 500px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  border-radius: 8px;
}

main aside.last__notices h3,
main aside.most__read h3 {
  font-size: 25px;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
}

main aside.last__notices .container__most__read__articles .most__read__article a,
main aside.last__notices .container__last__articles .last__article a,
main aside.most__read .container__most__read__articles .most__read__article a,
main aside.most__read .container__last__articles .last__article a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px;
}

main aside.last__notices .container__most__read__articles .most__read__article a h4,
main aside.last__notices .container__last__articles .last__article a h4,
main aside.most__read .container__most__read__articles .most__read__article a h4,
main aside.most__read .container__last__articles .last__article a h4 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

main aside.last__notices .container__most__read__articles .most__read__article a p,
main aside.last__notices .container__last__articles .last__article a p,
main aside.most__read .container__most__read__articles .most__read__article a p,
main aside.most__read .container__last__articles .last__article a p {
  color: #555;
  font-size: 13px;
}

main aside.last__notices .container__most__read__articles .most__read__article a:hover,
main aside.last__notices .container__last__articles .last__article a:hover,
main aside.most__read .container__most__read__articles .most__read__article a:hover,
main aside.most__read .container__last__articles .last__article a:hover {
  background-color: #eee;
}

main .main__container article.post {
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  min-height: 512px;
}

main .main__container article.post .top__section {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .main__container article.post .top__section--image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

main .main__container article.post .top__section--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

main .main__container article.post .top__section--text {
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main__container article.post .top__section--text h4 {
  font-weight: 500;
  color: #333;
  font-size: 17px;
}

main .main__container article.post .top__section--text p {
  font-weight: 400;
  color: #555;
  font-size: 15px;
}

main .main__container article.post .body__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main__container article.post .body__section--description {
  width: 100%;
  padding: 0 15px 15px 15px;
}

main .main__container article.post .body__section--description p {
  font-size: 14px;
  color: #444;
  line-height: 18px;
}

main .main__container article.post .body__section--image {
  background-color: #eee;
  width: 100%;
  height: 400px;
}

main .main__container article.post .body__section--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main__container article.post .bottom__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .main__container article.post .bottom__section button {
  border-radius: 0;
  border: none;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #999;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

main .main__container article.post .bottom__section button i {
  font-size: 17px;
  font-weight: lighter;
}

main .main__container article.post .bottom__section button span {
  font-size: 15px;
  margin-left: 10px;
  /* font-weight: bold; */
}

main .main__container article.post .bottom__section button.like__button {
  border-radius: 0 0 0 8px;
}

main .main__container article.post .bottom__section button.like__button:hover {
  background-color: #edd9d9;
  color: #dc1818;
}

main .main__container article.post .bottom__section button.comment__button:hover {
  background-color: #dbedec;
  color: #6ae0d7;
}

main .main__container article.post .bottom__section button.share__button {
  border-radius: 0 0 8px 0;
}

main .main__container article.post .bottom__section button.share__button:hover {
  background-color: #dddeee;
  color: #3b49df;
}

@media (min-width: 992px) {
  main .main__container {
    margin: 0 20px;
  }
}

@media (max-width: 1200px) {
  main aside.last__notices {
    margin-right: 0;
  }
  main aside.most__read {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  main {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  main .most__read {
    display: none;
  }
  main .main__container {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main .last__notices {
    display: none;
  }
  main .main__container {
    margin: 0 10px;
  }
}

.skeleton {
  opacity: .7;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton.skeleton__text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: .125rem;
}

.skeleton.skeleton__text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@-webkit-keyframes skeleton-loading {
  from {
    background-color: #a3b8c2;
  }
  to {
    background-color: #f0f3f5;
  }
}

@keyframes skeleton-loading {
  from {
    background-color: #a3b8c2;
  }
  to {
    background-color: #f0f3f5;
  }
}
/*# sourceMappingURL=styles.css.map */